<p style="color: green"><%= notice %></p>

<h1>CardinalGem</h1>

<div id="articles" class="container-fluid">
  <% @articles.each do |article| %>
		<div class="card border-danger" style="border-width: 2px;">
	  	<div class="card-body">
    		<%= render article %>
			</div>
			<span class="align-middle"><%= link_to "Show this article", article %></span>
		</div>
  <% end %>
</div>

<span class="align-middle"><%= link_to "New article", new_article_path %></span>