<p style="color: green"><%= notice %></p>

<h1>CardinalGem</h1>

<div id="articles" class="container-fluid">
  <% @articles.each do |article| %>
		<div class="card">
	  	<div class="card-body">
    		<%= render article %>
			</div>
		</div>
		<%= link_to "Show this article", article %>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
